@import url('https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css');

:root {
    --nav-height: 2em;
    --aside-margin: 1em;
    --aside-width: 24ch;
    --aside-top: calc(var(--nav-height) + var(--aside-margin));
    --aside-total-width: calc((var(--aside-margin) * 2) + var(--aside-width));
    --main-min-width: 50ch;
    --main-max-width: 120ch;

    box-sizing: border-box;
    font-family: "Computer Modern Serif", serif;
    font-size: 1.15rem;
    line-height: 1.25;
    background-color: #050505;
    color: #eee;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr minmax(var(--main-min-width),var(--main-max-width)) 1fr;
    grid-template-areas:
    	"header header header"
    	"nav nav nav"
    	". main ."
    	"footer footer footer";
    align-items: start;
    justify-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #44f;
}

h1 {
    font-size: 2em;
    margin-top: 0.25em;
    margin-bottom: 0.125em;
}

h2 {
    margin-bottom: 0.25em;
}

p {
    margin-top: 0;
}

ul {
    list-style-type: "- ";
    margin-top: 0;
}

nav ul {
   padding: 0;
   margin: 0;
   list-style: none;
}

body > header {
    text-align: center;
    grid-area: header;
    display: contents;
}

body > header a {
    color: inherit;
}

body > header > span {
    font-size: 6em;
    padding-top: 0.1em;
    color: #fff;
    grid-area: header;
}

body > header > span img {
    width: 1em;
    position: relative;
    margin: 0 0.25em 0 0;
    top: 0.17em;
}

body > header nav {
    background-color: #111;
    font-variant: small-caps;
    grid-area: nav;
    width: 100%;
    height: var(--nav-height);
    position: sticky;
    top: 0;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #222;
    border-width: 1px;
}

body > header nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body > header nav li {
    flex: 1;
    height: 100%;
    transition: background-color 0.1s;
}

body > header nav li:hover {
     background-color: #222;
}

body > header nav a {
    width: 100%;
    height: 100%;
    padding: 0.15em 1.5ch 0 1.5ch;
    display: flex;
    align-items: center;
    justify-content: center;
}

body > aside {
    position: sticky;
    top: var(--aside-top);
    background-color: #111;
    width: var(--aside-width);
    margin: var(--aside-margin);
    padding: 0.75em;
}

body > aside h2 {
    margin: 0 0 0.5em 0;
    text-align: center;
    font-size: 1.4em;
}

body > aside h3 {
    margin-top: 0.75em;
    margin-bottom: 0.25em;
}

body > aside h4 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

body > aside nav a::after {
    content: '->';
    float: right;
    color: #333;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.1s;
}

body > aside nav a:hover::after {
    visibility: visible;
    opacity: 1;
}

main {
    grid-area: main;
    width: 100%;
    background-color: #111;
    margin: var(--aside-margin) 0;
    padding: 0.75em;
}

main header:has(h1) {
    text-align: center;
    padding-bottom: 0.75em;
    margin-top: 0.75em;
    margin-bottom: 1em;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #222;
}

main header:has(h2) {
    margin-top: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1em;
}

main header > h2 {
    text-align: left;
}

main header:has(h2) > span {
    text-align: right;
    flex: 2;
}

main header span {
    display: block;
    color: #777;
}

main header h2 {
    margin-top: 0;
}

main img {
    max-width: 100%;
    max-height: 20em;
    display: block;
    margin: 1em auto;
}

main a:has(> img) {
    display: block;
    width: fit-content;
    margin: 1em auto;
}

main a > img {
    margin: 0;
}

figure {
    display: block;
    margin: 1em 0;
}

figure a:has(> img) {
    margin: 0 auto;
}

figcaption {
    text-align: center;
    margin: 0.5em 0;
}

article {
    text-align: justify;
}

main nav {
    float: right;
}

main nav a {
    font-weight: bold;
}

iframe {
    display: block;
    margin: 0 auto 1em auto;
}

iframe.youtube {
    width: 100%;
    aspect-ratio: 16/9;
}

iframe.scratch {
    width: var(--main-min-width);
    aspect-ratio: 6/5;
}

embed {
    width: 100%;
    height: 35em;
}

footer {
    text-align: center;
    font-size: 0.75em;
}

body > footer {
    grid-area: footer;
    width: 100%;
    color: #555;
}

@media (max-width: 1000px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        	"header header" "nav nav" "main main" ". ." "footer footer";
    }

    main {
        margin: var(--aside-margin);
        width: calc(100% - (2 * var(--aside-margin)));
    }

    body > aside {
        position: static;
    }
}

@supports (-webkit-touch-callout: none) {
    embed[type="application/pdf"] {
        display: none;
    }
}
