{% extends "plain.html" %}

{% block subtitle %}
<strong>Aliases</strong>: {{ page.extra.aliases | join(sep=", ") | safe }}
{% endblock %}

{% block precontent %}
{{ m::img(src=page.extra.portraits.0) }}
<p>
    {% for key, value in page.extra.facts %}
    {% if key != "" %}<strong>{{ key | safe }}</strong>: {% endif %}{{ value | safe }}<br>
    {% endfor %}
</p>
{{ m::img(src=page.extra.portraits.1) }}
{% endblock %}

{% block postcontent %}
<h2>Quotes</h2>
{% for quote in page.extra.quotes %}
<p>
    <q>{{ quote | safe }}</q>
</p>
{% endfor %}
{{ m::img(src=page.extra.portraits.2) }}
<h2>Social and Other Medias</h2>
<p>
    {% for key, value in page.extra.medias %}
    <strong>{{ key }}</strong>: <a href="{{ value.url | safe }}">{{ value.name }}</a><br>
    {% endfor %}
</p>
{{ m::img(src=page.extra.portraits.3) }}
{% endblock %}

{% block sidebar %}
    <h3>Members</h3>
    <ul>
        {% set sectpath = page.ancestors | last %}
        {% set section = get_section(path=sectpath) %}
        {% for member in section.pages | sort(attribute="title") %}
        <li>
            {% if member == page %}
            <strong>{{ member.title }}</strong>
            {% else %}
            <a href="{{ member.permalink | safe }}">{{ member.title }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
