{% import "macros.html" as m %}
{% if page %}{% set this = page %}{% elif section %}{% set this = section %}{% endif %}
{% set root_section = get_section(path="_index.md") %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if this.title != config.title %}{{ this.title }} | {% endif %}{{ config.title }}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0000cc">
        <meta name="msapplication-TileColor" content="#0000cc">
        <!--meta name="theme-color" content="#0000cc"-->
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    </head>
    <body>
        <header>
            <span><a href="/"><img src="/silver-age-logo.svg">The Silver Age</a></span>
            <nav>
                <ul>
                    {% for sectpath in root_section.subsections %}
                        {% set sect = get_section(path=sectpath) %}
                        {% if sect.pages %}
                            <li><a href="{{ sect.permalink | safe }}">{{ sect.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <aside>
            <nav>
            	<h2>Quick Links</h2>
            	{% block sidebar %}
            	{% endblock %}
            	<h3>Social Medias</h3>
            	<ul>
                	<li>{{m::external(href="https://www.youtube.com/@thesilverage",text="Youtube")}}</li>
                	<li>{{m::external(href="https://www.instagram.com/the.silver.age/",text="Instagram")}}</li>
                	<li><a href="{{ get_url(path="rss.xml", trailing_slash=false) }}">RSS Feed</a></li>
            	</ul>
            </nav>
        </aside>
        <aside>
            <nav>
            	<h2>We Approve</h2>
            	<h3>Edification</h3>
            	<ul>
                	<li>{{m::external(href="https://libgen.li/",text="Library Genesis")}}</li>
                	<li>{{m::external(href="https://www.youtube.com/@MemeAnalysis",text="Meme Analysis")}}</li>
                	<li>{{m::external(href="https://www.youtube.com/@ImpliedMusic",text="Implied Music")}}</li>
                	<li>{{m::external(href="https://www.youtube.com/@JimLill",text="Jim Lill")}}</li>
            	</ul>
            	<h3>Amusement</h3>
            	<ul>
                	<li>{{m::external(href="https://www.youtube.com/@JackStauber",text="Jack Stauber")}}</li>
                	<li>{{m::external(href="https://www.youtube.com/@BenLevin",text="Ben Levin")}}</li>
            	</ul>
            </nav>
        </aside>
        <footer>
            <p>Heehee Haha!</p>
            <p>Copyright &copy; 2024 The Silver Age. All rights reserved.</p>
        </footer>
    </body>
</html>
