{% import "macros.html" as m %}
{% if page %}{% set this = page %}{% elif section %}{% set this = section %}{% endif %}
{% set root_section = get_section(path="_index.md") %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if this.title != config.title %}{{ this.title }} | {% endif %}{{ config.title }}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0000cc">
        <meta name="msapplication-TileColor" content="#0000cc">
        <meta name="theme-color" content="#050505">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    </head>
    <body>
        <header>
            <span><a href="/"><img src="/silver-age-logo.png">The Silver Age</a></span>
            <article>
                {% set events = get_section(path="events/_index.md") %}
                {% for event in events.pages | sort(attribute="date") %}
                	{% set event_day = event.date | date(format="%Y%j") | int %}
                	{% set curr_day = now() | date(format="%Y%j") | int %}
                	{% if event_day > curr_day %}
                	    Next event: <a href="{{ event.permalink | safe }}">{{ event.title | safe }}</a>, {{ event.date | date(format="%B %e") }}
                	    {% break %}
                	{% endif %}
                {% endfor %}
            </article>
            <nav>
                <ul>
                    {% set topsection = false %}
                    {% if this.components %}
                    	{% set toppath = this.components | slice(end=1) | concat(with="_index.md") | join(sep="/") %}
                        {% set topsection = get_section(path=toppath) %}
                    {% endif %}
                    {% for sectpath in root_section.subsections %}
                        {% set sect = get_section(path=sectpath) %}
                        {% if sect.pages %}
                        	{% if topsection == sect %}
                            	<li><a href="{{ sect.permalink | safe }}"><strong>{{ sect.title }}</strong></a></li>
                            {% else %}
                            	<li><a href="{{ sect.permalink | safe }}">{{ sect.title }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <aside>
        	<h2>Quick Links</h2>
            <nav>
            	{% block sidebar %}
            	{% endblock %}
            	<h3>Social Medias</h3>
            	<ul>
                	<li>{{m::external(href="https://www.youtube.com/@thesilverage",text="Youtube")}}</li>
                	<li>{{m::external(href="https://www.instagram.com/the.silver.age/",text="Band Instagram")}}</li>
                	<li>{{m::external(href="https://www.instagram.com/the.silver.age.hq/",text="HQ Instagram")}}</li>
            	</ul>
            	<h3>Technologies</h3>
            	<ul>
                	<li>{{m::external(href="https://github.com/thesilverage/thesilverage.com",text="Github")}}</li>
                	<li><a href="{{ get_url(path="rss.xml", trailing_slash=false) }}">RSS Feed</a></li>
            	</ul>
            </nav>
        </aside>
        <aside>
        	<h2>We Approve</h2>
            <nav>
            	<h3>Edification</h3>
            	<ul>
                	<li>{{m::external(href="https://libgen.li/",text="Library Genesis")}}</li>
                	<li>{{m::external(href="https://www.youtube.com/@MemeAnalysis",text="Meme Analysis")}}</li>
                	<li>{{m::external(href="https://www.youtube.com/@ImpliedMusic",text="Implied Music")}}</li>
                	<li>{{m::external(href="https://www.youtube.com/@JimLill",text="Jim Lill")}}</li>
            	</ul>
            	<h3>Amusement</h3>
            	<ul>
                	<li>{{m::external(href="https://www.youtube.com/@JackStauber",text="Jack Stauber")}}</li>
                	<li>{{m::external(href="https://www.youtube.com/@BenLevin",text="Ben Levin")}}</li>
            	</ul>
            </nav>
        </aside>
        <footer>
            <p>Where will you be when the bomb goes off?</p>
            <p>Website Copyright &copy; 2024 The Silver Age. All rights reserved.</p>
        </footer>
    </body>
</html>
