{% macro external(href, text) %}
    <a href="{{ href | safe }}" target="_blank" rel="noreferrer noopener">{{ text }}</a>
{% endmacro external %}

{% macro img(src,height="") %}
    {% if page %}{% set this = page %}{% elif section %}{% set this = section %}{% endif %}
	{% if src | truncate(length=1, end="") == "/" %}
		{% set imgpath = src %}
	{% else %}
		{% set imgpath = this.path ~ src %}
	{% endif %}
	{% set mdata = get_image_metadata(path=imgpath) %}
	{% if mdata.width > 750 %}{% set smallimage = resize_image(path=imgpath, width=750, op="fit_width") %}{% endif %}
	{% if mdata.width > 1500 %}{% set medimage = resize_image(path=imgpath, width=1500, op="fit_width") %}{% endif %}
	{% if smallimage %}{% set default = smallimage.url %}{% else %}{% set default = src %}{% endif %}
    <a href="{{ src | safe }}">
        <img src="{{ default | safe }}" srcset="{% if smallimage %}{{ smallimage.url | safe }} 750w, {% endif %}{% if medimage %}{{ medimage.url | safe }} 1500w, {% endif %}{{ src | safe }} {{ mdata.width }}w"{% if height %} style="max-height:{{ height | safe }};"{% endif %}>
    </a>
{% endmacro img %}

{% macro pagemeta(post,from=false) %}
    <span>
        {{ post.date }}
        {% set parent_path = post.components | slice(end=-1) | concat(with="_index.md") | join(sep="/") %}
        {% set parent = get_section(path=parent_path) %}
        {% set ancestors = parent.ancestors | concat(with=parent_path) %}
        {% set breadcrumbs = self::breadcrumbs(ancestors=ancestors,from=from) %}
        {% if breadcrumbs %}in {{ breadcrumbs | safe }}{% endif %}
    </span>
{% endmacro pagemeta %}

{% macro breadcrumbs(ancestors,from=false) %}
    {%- if not from -%}{%- set from = get_section(path="_index.md") -%}{%- endif -%}
    {%- for ancestorpath in ancestors | slice(start=0) -%}
    {%- set ancestor = get_section(path=ancestorpath) -%}
    {%- if not ancestor.path in from.path -%}
    <a href="{{ ancestor.permalink | safe }}">{{ ancestor.title | safe }}</a>{% if not loop.last %}/{% endif %}
    {%- endif -%}
    {%- endfor -%}
{% endmacro breadcrumbs %}

{% macro eventmeta(event) %}
    {{ event.date | date(format="%b %e") }}: <a href="{{ event.permalink | safe }}">{{ event.title | safe }}</a> at {{ event.extra.location }}, {{ event.extra.time }}
{% endmacro eventmeta %}
