{% extends "base.html" %}

{% block main %}
    {{ section.content | safe }}
    {% for post in paginator.pages %}
        <article>
            <header>
                {% set parent_path = post.components | slice(end=-1) | concat(with="_index.md") | join(sep="/") %}
                {% set parent = get_section(path=parent_path) %}
                <h2><a href="{{post.permalink}}">{{ post.title }}</a></h2>
                {{ post.date }} in {{ parent.title }}
            </header>
            {% if post.summary %}
                {{ post.summary | markdown(inline=true) | safe }}
            {% elif post.description %}
                {{ post.description | safe }}
            {% elif post.content %}
                {{ post.content | striptags | truncate(length=150) | safe }}
            {% endif %}
        </article>
    {% endfor %}
    <nav>
        {% if paginator.previous %}
            <a href="{{ paginator.first }}">&lt;&lt;</a> <a href="{{ paginator.previous }}">&lt;</a>
        {% endif %}
        {% if paginator.previous or paginator.next %}
            {{ paginator.current_index }}/{{ paginator.number_pagers }}
        {% endif %}
        {% if paginator.next%}
            <a href="{{ paginator.next }}">&gt;</a> <a href="{{ paginator.last }}">&gt;&gt;</a>
        {% endif %}
    </nav>
{% endblock %}
