{% extends "base.html" %}

{% block main %}
    <header>
        <h1>{% block heading %}{{ this.title | safe }}{% endblock %}</h1>
        {% block subheading %}
        <nav>
            {% set breadcrumbs = m::breadcrumbs(ancestors=this.ancestors) %}
            {% if breadcrumbs %}
            <span>in {{ breadcrumbs | safe }}</span>
            {% endif %}
            {% if this.subsections %}
            Categories:
            <ul>
                {% for subpath in this.subsections %}
                {% set sub = get_section(path=subpath) %}
                {% if sub.pages %}
                <li><a href="{{ sub.permalink | safe }}">{{ sub.title | safe }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </nav>
        {% endblock %}
    </header>
    {{ this.content | safe }}
    {% for post in paginator.pages %}
    <article>
        <header>
            <h2><a href="{{ post.permalink | safe }}">{{ post.title | safe}}</a></h2>
            {{ m::pagemeta(post=post,from=this) }}
        </header>
        {% if post.summary %}
            {{ post.summary | markdown() | safe }}
        {% elif post.description %}
            {{ post.description | safe }}
        {% elif post.content %}
            {{ post.content | striptags | truncate(length=150) | safe }}
        {% endif %}
    </article>
    {% endfor %}
    {% if paginator.previous or paginator.next %}
    <nav>
        {% if paginator.previous %}
        <a href="{{ paginator.first | safe }}">&lt;&lt;</a> <a href="{{ paginator.previous | safe }}">&lt;</a>
        {% endif %}
        {{ paginator.current_index }}/{{ paginator.number_pagers }}
        {% if paginator.next %}
        <a href="{{ paginator.next | safe }}">&gt;</a> <a href="{{ paginator.last | safe }}">&gt;&gt;</a>
        {% endif %}
    </nav>
    {% endif %}
{% endblock %}
